:root {
  --purple-light: #5d37b1;
  --purple-dark: #4528a1;
  --pink: #fc4280;
  --turquoise-light: #b2dfda;
  --turquoise-dark: #58bac5;
  --gray: #a1a1a1;
  --gray-dark: #767676;
  --white: #ffffff;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

.header__title {
  font-family: var(--main-font);
  color: var(--white);
  background-color: var(--purple-light);
  padding: 40px 20px;
  font-size: 40px;
  margin: 0;
}

.header__menu {
  background-color: var(--purple-dark);
}

.header__menu--list {
  margin: 0;
  list-style: none;
  text-align: left;
  padding: 20px;
}
.header__menu--list-item {
  display: inline;
  margin-right: 30px;
}

.header__menu--list-item a {
  font-family: var(--secondary-font);
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.header__icon {
  position: relative;
  float: right;
  top: -26px;
  left: -26px;
  background-color: var(--pink);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon--image {
  width: 16px;
}

.bg-turquoise {
  background-color: var(--turquoise-light);
}

.article__options {
  position: relative;
  float: right;
  top: 10px;
  left: -10px;
}

.article__title {
  font-family: var(--secondary-font);
  color: var(--gray-dark);
  font-size: 32px;
  font-weight: 700;
}

.article__paragraph {
  font-family: var(--secondary-font);
  color: var(--gray-dark);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.article__link {
  color: var(--turquoise-dark);
  font-weight: 700;
  text-transform: uppercase;
}

.bg-purple {
  background-color: var(--purple-dark);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.button__view-source {
  position: fixed;
  right: 30px;
  bottom: 60px;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
